@import "tailwindcss";



.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}