@import "tailwindcss";

body {
  background: radial-gradient(circle at top, #1a1a1a, #0b0b0b);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}
